@{
    ViewData["Title"] = "Головна";
}

<h2>TravelManager</h2>
<p>Це простий та зручний інструмент для організації ваших подорожей. Програма допомагає планувати маршрути на карті, вести облік витрат, складати списки речей у дорогу та зберігати всі деталі про транспорт і житло в одному місці.</p>